<main>

	<h1>{{title}}</h1>

	<p>This documentation serves to describe how to use the Herodotus keys service as a restful API. While it is possible to undertake all actions (with the exception of checking a key) using the GUI, it is desireable that other Herodotus can use the keys service to undertake these actions also.</p>

	<p><strong>With the Herodotus keys service it is possible to:</strong></p>
	
	<ul>
		<li>Create a key</li>
		<li>Revoke a key</li>
		<li>Check a key</li>
	</ul>

	<p><strong>All of these endpoints are currently behind basic auth, and will require valid credentials in order to undertake these actions.</strong></p>
	<p><em>It will soon be possible to undertake these actions using a token</em></p>

	<h2>Creating a key</h2>

</main>