<h1>{{title}}</h1>

<form action="/create" method="POST">
	<label for="name">Give your key a name</label>
	<input type="text" name="name" required />
	<label for="description">Give your key a description</label>
	<input type="text" name="description" required />
	<button type="submit">Create key</button>

</form>