<h1>{{title}}</h1>

<form action="/revoke" method="POST">

	<label for="description">Enter the key to revoke</label>
	<input type="text" name="key" />
	<button type="submit">Revoke key</button>

</form>